.blogs-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.blog-content {
  white-space: pre-line; /* Preserves new lines */
}

.blog-content::after {
  content: attr(data-date); /* Uses the date from the HTML */
  display: block;
  text-align: right;
  font-size: 0.85rem;
  color: #222831;
  margin-top: 0.5rem;
  border-top: 2px solid #2f2626; /* The line */
  padding-top: 5px;
}

.blog-card {
  padding: 15px;
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  margin-bottom: 10px solid #000000;
}

.read-more {
  color: #007bff;
  text-decoration: none;
}

.blog-card {
  padding: 1rem;
  /* border-bottom: 1px solid #ccc; Adds a straight line separator */
  margin-bottom: 2rem;
}

.blog-card:last-child {
  border-bottom: none; /* Removes the border for the last card */
}

.blog-card::after {
  content: attr(data-date); /* Uses the date from the HTML */
  display: block;
  text-align: right;
  font-size: 0.85rem;
  color: #222831;
  margin-top: 0.5rem;
  border-top: 2px solid #2f2626; /* The line */
  padding-top: 5px;
}