.blog-detail {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.blog-detail > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.edit-btn svg {
  color: #5c6c85;
  transition: color 0.2s;
}

.edit-btn:hover svg {
  color: #222831;
}
