/* Global styles */
body {
  background-color: #EEEEEE; /* Light gray background */
  font-family: garamond bold;
  color: #000000;
  margin: 0 0 0.5rem;
  /* padding-top: 100px; //Prevents content from being hidden under navbar */
  /* padding: 0; */
}